.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-heading {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.block-title {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  opacity: 0.6;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  z-index: 5;
}

.header .header-menu-toggle {
  display: none;
}

.header-menu {
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu .menu-item {
  display: inline-block;
}

.header-menu .menu-item-link {
  padding: 14px 24px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.header .menu-item:hover .menu-item-link {
  background-color: #ccc;
  color: #000;
}

.header-search {
  cursor: pointer;
  line-height: 46px;
  padding: 0 24px;
  color: white;
}

.header-search:hover {
  background-color: #f44336;
}

.header .menu-item:last-child {
  position: relative;
  cursor: pointer;
}

.header .drop-down:hover .menu-child {
  display: block;
}

.header .menu-child {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  min-width: 160px;
}

.header .menu-child-item {
  display: block;
}

.header .menu-child-item:hover {
  background-color: #ccc;
}

.header .menu-child-item .menu-child-link {
  display: block;
  font-size: 15px;
  padding: 8px 16px;
  line-height: 1.5;
  color: #000;
}

.header .header-menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 16px;
}

.header .header-menu-toggle:hover {
  background-color: #ccc;
}

.slider {
  padding-top: 46px;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-animation: fade linear 0.3s;
          animation: fade linear 0.3s;
}

.slider .slide-item {
  position: relative;
}

.slider .slide-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slide-item .box-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 32px 16px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.slider .slide-item .box-middle .box-heading {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.slider .slide-item .box-middle .box-desc {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 16px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.band {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  padding: 74px 16px;
}

.band-desc {
  text-align: justify;
  line-height: 1.4;
  font-size: 15px;
  margin: 15px 0;
}

.band-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 0;
}

.band-cards .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.band-cards .card-item-name {
  font-size: 15px;
  margin-bottom: 20px;
}

.band-cards .card-item-img {
  width: 60%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
  border-radius: 5px;
}

.tour-container {
  max-width: 100%;
  background-color: #000;
}

.tour-container .tour {
  max-width: 800px;
  padding: 74px 16px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tour-container .tour-heading, .tour-container .tour-title {
  color: white;
}

.tour-container .tour-calendar {
  width: 100%;
  background-color: white;
  margin: 36px 0 32px;
  position: relative;
}

.tour-container .tour-calendar-month {
  padding: 8px 16px;
  font-size: 15px;
  color: gray;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}

.tour-container .tour-calendar-month:not(:last-child)::after {
  content: "Sold out";
  margin-left: 16px;
  padding: 2px 8px;
  background-color: #f44336;
  color: white;
  font-size: inherit;
}

.tour-container .tour-calendar-month:last-child::after {
  content: "3";
  padding: 0 8px;
  background-color: #000;
  color: white;
  border-radius: 100%;
  position: absolute;
  right: 30px;
}

.tour-container .tour .tour-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.tour-container .tour .tour-cards .card-item:not(:first-child) {
  margin-left: 16px;
}

.tour-container .tour .tour-cards .card-item {
  background-color: #000;
}

.tour-container .tour .tour-cards .card-item .card-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tour-container .tour .tour-cards .card-item .card-img:hover {
  opacity: 0.6;
}

.tour-container .tour .tour-cards .card-item .card-info {
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 16px;
  font-size: 15px;
  line-height: 1.4;
}

.tour-container .tour .tour-cards .card-item .card-info-location {
  display: block;
  font-weight: 700;
}

.tour-container .tour .tour-cards .card-item .card-info-time {
  display: block;
  opacity: 0.6;
}

.tour-container .tour .tour-cards .card-item .card-info .buy-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tour-container .tour .tour-cards .card-item .card-info .buy-btn:hover {
  background-color: #ccc;
  color: #000;
}

.tour-container .spacing-bottom {
  margin-bottom: 15px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 16px;
}

.modal .modal-container {
  background-color: #fff;
  width: 900px;
  max-width: 900px;
  -webkit-animation: modalFadeIn linear 0.3s;
          animation: modalFadeIn linear 0.3s;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 130px;
  background-color: #009688;
  position: relative;
  padding: 0 16px;
}

.modal-header .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  padding: 10px 14px;
  font-weight: 300;
}

.modal-header .modal-close:hover {
  background-color: #ccc;
}

.modal-header h1 {
  font-size: 30px;
  letter-spacing: 4px;
  color: #fff;
  font-weight: 300;
}

.modal-body {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body .modal-label {
  margin-bottom: 12px;
}

.modal-body .modal-input {
  font-size: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}

.modal-body #modal-buy-btn {
  padding: 18px;
  font-size: 15px;
  border: none;
  background-color: #009688;
  color: #fff;
  text-transform: uppercase;
}

.modal-body #modal-buy-btn:hover {
  background-color: #ccc;
  color: #000;
}

.modal-footer {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-footer .modal-clode-btn {
  padding: 10px;
  font-size: 15px;
  border: none;
  background-color: #f44336;
  color: #fff;
}

.modal-footer .modal-clode-btn:hover {
  background-color: #ccc;
  color: #000;
}

.modal-footer .modal-link {
  font-size: 15px;
}

.modal-footer .modal-link a {
  text-decoration: underline;
}

.isActiveModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes modalFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 74px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-block {
  margin-bottom: 50px;
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contact .contact-left,
.contact .contact-form {
  width: 50%;
}

.contact .contact-left {
  line-height: 1.5;
  font-size: 18px;
}

.contact .contact-left i {
  width: 30px;
}

.contact .form-top,
.contact .form-bottom {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .form-top {
  margin-bottom: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}

.contact .form-control {
  padding: 10px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
}

.contact .send-btn {
  padding: 10px 16px;
  margin-top: 16px;
  float: right;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

.map {
  max-width: 100%;
}

.map-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  max-width: 100%;
  padding: 74px 16px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-menu {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu-item {
  margin-left: 6px;
  font-size: 24px;
}

.footer-menu-item a {
  color: #000;
  opacity: 0.6;
}

.footer-menu-item a:hover {
  opacity: 0.4;
}

.footer .footer-desc {
  font-size: 15px;
  font-weight: 300;
  color: #8e8e8e;
}

.footer .footer-desc a {
  text-decoration: underline;
  color: #8e8e8e;
}

.footer .footer-desc a:hover {
  color: red;
}

@media screen and (max-width: 767px) {
  .isOpenMenu {
    height: auto;
  }
  .header {
    display: block;
    overflow: hidden;
  }
  .header-menu {
    line-height: inherit;
    display: block;
  }
  .header-menu .menu-item {
    display: block;
  }
  .header-menu .menu-item:first-child {
    display: inline-block;
  }
  .header-menu .menu-item:last-child .menu-child {
    position: initial;
  }
  .header-menu .menu-item:last-child .menu-child-link {
    padding: 10px 16px;
    margin-left: 20px;
  }
  .header-menu .menu-item-link {
    display: block;
    padding: 16px 24px;
  }
  .header-search {
    display: none;
  }
  .header .header-menu-toggle {
    display: inline-block;
  }
  .slider .slide-item .box-middle {
    display: none;
  }
  .band-cards {
    display: block;
  }
  .band-cards .card-item {
    margin-top: 20px;
  }
  .tour-container .tour .tour-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tour-container .tour .tour-cards .card-item {
    margin-bottom: 16px;
  }
  .tour-container .tour .tour-cards .card-item:not(:first-child) {
    margin-left: 0;
  }
  .contact-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-row .contact-left,
  .contact-row .contact-form {
    width: 100%;
  }
  .contact-row .contact-left {
    margin-bottom: 20px;
  }
  .contact-row .form-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact-row .form-half:first-child {
    margin-bottom: 8px;
  }
}
/*# sourceMappingURL=style.css.map */